html,
body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    touch-action: none;
}

div#viewport {
    position: fixed;
    width: 100%;
    height: 100%;
}

div#viewport>canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}
